[submodule "_pages/self-sovereign-identity"]
	path = _pages/self-sovereign-identity
	url = https://github.com/WebOfTrustInfo/self-sovereign-identity
[submodule "_pages/rwot1-sf"]
	path = _pages/rwot1-sf
	url = https://github.com/WebOfTrustInfo/rwot1-sf
[submodule "_pages/rwot2-id2020"]
	path = _pages/rwot2-id2020
	url = https://github.com/WebOfTrustInfo/rwot2-id2020
[submodule "_pages/rwot3-sf"]
	path = _pages/rwot3-sf
	url = https://github.com/WebOfTrustInfo/rwot3-sf
[submodule "_pages/rwot4-paris"]
	path = _pages/rwot4-paris
	url = https://github.com/WebOfTrustInfo/rwot4-paris
[submodule "_pages/rwot5-boston"]
	path = _pages/rwot5-boston
	url = https://github.com/WebOfTrustInfo/rwot5-boston
[submodule "_pages/rwot6-santabarbara"]
	path = _pages/rwot6-santabarbara
	url = https://github.com/WebOfTrustInfo/rwot6-santabarbara
[submodule "_pages/rwot7-toronto"]
	path = _pages/rwot7-toronto
	url = https://github.com/WebOfTrustInfo/rwot7-toronto
[submodule "_pages/rwot8-barcelona"]
	path = _pages/rwot8-barcelona
	url = https://github.com/WebOfTrustInfo/rwot8-barcelona
